#profile-section{
    background-color: #B2D8D8;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: fit-content;
    height: 85.3vh;
  }
  
  #profile-container{
    width: 80%;
    height: fit-content;
    padding: 2rem;
    background: #B2D8D8 ;
    background-color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  
    -webkit-box-shadow: -1px 2px 50px -15px rgba(0,0,0,0.85);
    -moz-box-shadow: -1px 2px 50px -15px rgba(0,0,0,0.85);
    box-shadow: -1px 2px 50px -15px rgba(0,0,0,0.85);
  }
  
  .profile-picture { /*pfp size*/
    width: 5rem; 
    height: 5rem; 
    border-radius: 100%;
    border-style: solid;
    border-color: #B2D8D8;
    margin-bottom: 0.625rem;
  }