#subbar-container{
    padding: 4rem;
    padding-left: 4.9rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 116.563rem;
    height: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
<<<<<<< Updated upstream
    margin-bottom: 0.2rem;
  
    -webkit-box-shadow: -1px 2px 50px -15px rgba(0,0,0,0.85);
=======
    margin-top: .5rem;

    /* -webkit-box-shadow: -1px 2px 50px -15px rgba(0,0,0,0.85);
>>>>>>> Stashed changes
    -moz-box-shadow: -1px 2px 50px -15px rgba(0,0,0,0.85);
    box-shadow: -1px 2px 50px -15px rgba(0,0,0,0.85); */
  }

#subjectbarbg{
  background-color: white;
    /* -webkit-box-shadow: -1px 2px 50px -15px rgba(0,0,0,0.85);
    -moz-box-shadow: -1px 2px 50px -15px rgba(0,0,0,0.85);
    box-shadow: -1px 2px 50px -15px rgba(0,0,0,0.85); */
}